<section class="vh-100; img-fluid" style="background-image: url(../../../assets/cartel-fondov2.jpg); background-size: 100% 100%;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../../assets/img-logueo.png"
                  alt="imagen pantalla logueo" class="vh-100 img-fluid" style="border-radius: 1rem 0 0 1rem; background-size: 100% 100%;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="form">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: black;"></i>
                      <span class="h1 fw-bold mb-0">Argentina Programa</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Entrar a mi cuenta</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Dirección de correo electrónico</label>
                      <input type="email" formControlName="email" id="form2Example17" class="form-control form-control-lg"
                      [ngClass]="{'is-invalid': Email?.errors && Email?.touched,
                      'is-valid': !Email?.errors && Email?.touched}"/>
                    <div *ngIf="Email?.errors && Email?.touched">
                      <p *ngIf="Email?.hasError('required')" class="text-danger">
                        Se requiere una dirección de correo.
                      </p>
                      <p *ngIf="Email?.hasError('email')" class="text-danger">
                        El formato del correo electrónico debe ser válido.
                      </p>
                    </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Contraseña</label>
                      <input type="password" formControlName="clave" id="form2Example27" class="form-control form-control-lg"
                      [ngClass]="{'is-invalid': Clave?.errors && Clave?.touched,
                      'is-valid': !Clave?.errors && Clave?.touched}"/>
                      <div *ngIf="Clave?.errors && Clave?.touched">
                        <p *ngIf="Clave?.hasError('required')" class="text-danger">
                          Se requiere una contraseña.
                        </p>
                        <p *ngIf="Clave?.hasError('minlength')" class="text-danger">
                          La longitud mínima de la contraseña es de 8 caracteres.
                        </p>
                      </div>  
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block btn" type="button">Entrar</button>
                    </div>
  
                    <a class="small text-muted" href="#!">¿Olvidaste la contraseña?</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>