<div class=[row[>
    <circle-progress
        [percent]="75"
        [radius]= "60"
        [space]= "-10"
        [outerStrokeGradient]= "true"
        [outerStrokeWidth]= "10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= "10"
        title= "HTML"
        [animateTitle]= "false"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showSubtitle]="true"
        subtitle="75%"
        [showBackground]= "false"
        [clockwise]= "false"
        [startFromZero]= "false"
        [lazy]= "true"
    ></circle-progress>
</div>