<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#FF4C1E'"
            [outerStrokeGradientStopColor]= "'#004CE8'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "HTML + CSS"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/html-css.png"
            [imageHeight]="60"
            [imageWidth]="115"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
        ></circle-progress>
        <h6>HTML+CSS</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#DD0031'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Angular"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/angular.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
        ></circle-progress>
        <h6>Angular</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#FFDF00'"
            [outerStrokeGradientStopColor]= "'#3178C6'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "JavaScript + TypeScript"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/js-typescript.png"
            [imageHeight]="50"
            [imageWidth]="90"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
        ></circle-progress>
        <h6>JavaScript/TypeScript</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#5685A2'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Java"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/java.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Java</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#00758F'"
            [outerStrokeGradientStopColor]= "'#003545'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "MySQL/MariaDB"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/bbddv2.png"
            [imageHeight]="60"
            [imageWidth]="100"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>MySQL/MariaDB</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#6FB442'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "SpringBoot"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/springboot.png"
            [imageHeight]="50"
            [imageWidth]="50"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>SpringBoot</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'black'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Github"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/github.png"
            [imageHeight]="50"
            [imageWidth]="50"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Github</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'gray'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Linux"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/linux.png"
            [imageHeight]="50"
            [imageWidth]="50"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>GNU/Linux</h6>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#19979C'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Arduino"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/arduino.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Arduino IDE/MiniBloq</h6>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#FFBE2E'"
            [outerStrokeColor]= "'#FFDF24'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Idioma inglés"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/english.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Inglés</h6>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#FFEC52'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Trabajo en equipo"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/trabajo-equipo.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Trabajo en equipo</h6>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'black'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Notion"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/notion.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Notion</h6>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="50"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#0079BF'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Trello"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/trello.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Trello</h6>
    </div>
    <div class="text-center col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#504B3E'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "GIMP"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/gimp.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>GIMP</h6>
    </div>
    <div class="text-center col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="50"
            [radius]= "60"
            [space]= "-10"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#47474C'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            title= "Inkscape"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [showSubtitle]="false"
            subtitle="75%"
            subtitleFontSize="20"
            [showImage]="true"
            imageSrc="../../../assets/inkscape.png"
            [imageHeight]="60"
            [imageWidth]="60"
            [showBackground]= "false"
            [clockwise]= "false"
            [startFromZero]= "false"
            ></circle-progress>
            <h6>Inkscape</h6>
    </div>
</div>