<div class="row">
    <h1>Educación</h1>
    <div class="col-xg-11">
        <ul>
            <li>
                <h1>Facultad de Ciencias Exactas, Químicas y Naturales</h1> - <h3>(años)</h3>
            </li>
            <p>Profesorado en Física</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Educativo Provincial N°1</h1> - <h3>(años)</h3>
            </li>
            <p>Bachiller y Técnico Medio</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto San Jorge</h1> - <h3>(años)</h3>
            </li>
            <p>Reparador de PC</p>
        </ul>
    </div>
