<div class="container-mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombreEst" id="titulo">Institución</label>
                    <input type="text" class="form-control" id="nombreEst" name="nombreEst" [(ngModel)]="nombreEst" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="detalleEst" id="titulo">Título/Certificación</label>
                    <input type="text" class="form-control" id="detalleEst" name="detalleEst" [(ngModel)]="detalleEst" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="periodoEst" id="titulo">Año de cursado o egreso</label>
                    <input type="text" class="form-control" id="periodoEst" name="periodoEst" [(ngModel)]="periodoEst" required>
                </div>
                <br>
                <br>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>
