<div class="row">
    <div class="container">
        <div class="logoap">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/logo.webp" alt="logo arg programa" id="logoap"></a>
        </div>
        <div class="rsociales">
            <div>
                <a href="https://github.com/CocoCocoAlx"><img src="../../../assets/github.png" alt="github" style="margin: 0px 0px 5px 5px"></a>
                <a href="https://instagram.com/naviwalex"><img src="../../../assets/instagram.png" alt="instagram" style="margin: 0px 0px 5px 5px"></a>
                <a href="https://t.me/IvanW_86"><img src="../../../assets/telegram.png" alt="telegram" style="margin: 0px 0px 5px 5px"></a>
                <a href="mailto:ivanwerbach@gmail.com"><img src="../../../assets/gmail.png" alt="correo" style="margin: 0px 0px 5px 5px"></a>
                <button type="button" class="btn btn-outline-dark" style="margin: 0px 0px 5px 5px">Ingresar</button>
            </div>
        </div>
    </div>
</div>
