<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="row">
    <div class="container">
        <div class="logoap">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/logo.webp" title="Argentina Programa" alt="logo arg programa" id="logoap"></a>
        </div>
        <div class="rsociales">
            <div>
                <a href="https://github.com/CocoCocoAlx"><img src="../../../assets/github.png" alt="github" title="Github" style="margin: 0px 0px 5px 5px"></a>
                <a href="https://instagram.com/naviwalex"><img src="../../../assets/instagram.png" alt="instagram" title="Instagram" style="margin: 0px 0px 5px 5px"></a>
                <a href="https://t.me/IvanW_86"><img src="../../../assets/telegram.png" alt="telegram" title="Telegram" style="margin: 0px 0px 5px 5px"></a>
                <a href="mailto:ivanwerbach@gmail.com"><img src="../../../assets/gmail.png" alt="correo" title="E-mail" style="margin: 0px 0px 5px 5px"></a>
                <a href="https://drive.google.com/file/d/1t6Kov1YlpV20JG88s_Z8W5V2dyzhkRHh/view?usp=sharing"> <img src="https://i.postimg.cc/pTp19hjJ/descargar-pdf.png" alt="correo" title="Descargar CV completo en PDF" style="margin: 0px 0px 5px 5px"></a>
                <button type="button" class="btn btn-outline-dark" style="margin: 0px 0px 5px 5px" (click)="logueo()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-dark" style="margin: 0px 0px 5px 5px" (click)="salir()" title="Cerrar sesión" *ngIf="isLogged">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>
