<div class="container-mt-3" *ngIf="proy">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="OnUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombreProy" id="titulo">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreProy" name="nombreProy" [(ngModel)]="proy.nombreProy" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="detalleProy" id="titulo">Detalles del proyecto</label>
                    <input type="text" class="form-control" id="detalleProy" name="detalleProy" [(ngModel)]="proy.detalleProy" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="enlaceProy" id="titulo">Enlace al proyecto</label>
                    <input type="text" class="form-control" id="enlaceProy" name="enlaceProy" [(ngModel)]="proy.enlaceProy" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="imagen" id="titulo">Imagen del proyecto</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="proy.imagen" required>
                </div>
                <br>
                <br>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>
</div>