<div class="row">
    <h1>Mis proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto">
            <h2>CRUD básico con Angular + SpringBoot</h2>
            <p>Un CRUD sencillo utilizando Angular y SpringBoot</p>
        </div>
        <div class="col-sm-12 col-md-3 offset-md-1 col-lg-3 offset-lg-1 proyecto-imagen">
            <a href="https://github.com/CocoCocoAlx/MiArgPrograma-Angular"><img src="../../../assets/lista-tareas.png" alt="imagen de la app de lista de tareas" class="img-fluid proyecto-captura"></a>
        </div>
    </div>

</div>