<div class="row">
    <h1>Mis proyectos</h1>
    <div class="col lg-2">
        <td><button class="btn btn-outline-secondary" routerLink="/nuevoproyecto" *ngIf="isLogged"><i class="fa-solid fa-plus"></i> Agregar nuevo proyecto</button></td>
    </div>

    <div class="col-xg-11">
        <table class="table">
            <thead>
                <tr >
                    <th scope="col">Nombre del Proyecto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Enlace</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Proyectos of proy">
                    <td><h2>{{Proyectos.nombreProy}}</h2></td>
                    <td>{{Proyectos.detalleProy}}</td>
                    <td>{{Proyectos.enlaceProy}}</td>
                    <td><a href="{{Proyectos.enlaceProy}}"><img src={{Proyectos.imagen}} class="img-fluid img-proyect" width="100" height="100"></a></td>
                    <td *ngIf="isLogged"><button class="btn btn-primary" routerLink="/editarproyecto/{{Proyectos.id}}"><i class="bi bi-pencil-square"></i> | Editar</button></td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="borrar(Proyectos.id)"><i class="bi bi-trash3-fill"></i> | Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>