<div class="container-mt-3" *ngIf="exp">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombreExp" id="titulo">Nombre de la empresa o institución</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="exp.nombreExp"
                        required>
                </div>
                <br>
                <div class="form-group">
                    <label for="detalleExp" id="titulo">Detalles del puesto</label>
                    <input type="text" class="form-control" id="detalleExp" name="detalleExp"
                        [(ngModel)]="exp.detalleExp" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="periodoExp" id="titulo">Período</label>
                    <input type="text" class="form-control" id="periodoExp" name="periodoExp"
                        [(ngModel)]="exp.periodoExp" required>
                </div>
                <br>
                <br>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>
</div>