<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-xg-11">
        <ul>
            <li>
                <h1>Instituto Virgen de Itatí</h1> - <h3>(años)</h3>
            </li>
            <p>Administrador de sistemas</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Virgen de Itatí</h1> - <h3>(años)</h3>
            </li>
            <p>Profesor de Informática, nivel secundario</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Virgen de Itatí</h1> - <h3>(años)</h3>
            </li>
            <p>Profesor de Informática, nivel primario</p>
        </ul>
    </div>

</div>