.row{
    background-color: brown;
}

footer{
    color: brown;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction:column;
    box-shadow: 2px 2px 2px gray;
}