.row{
    background-color: #7a7066;
}

footer{
    color: black;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction:column;
    margin: 12px;
}