<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="row">
    <div class="xs-col-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://i.postimg.cc/jdWRXqtJ/mifoto.jpg" alt="foto de perfil" class="img-fluid" id="perfil">
    </div>
    <div class="xs-col-12 col-sm-2 col-md-2 col-lg-2">
        <h1>
            <p id="minombre">{{persona.nombre}} {{persona.apellido}}</p>
        </h1>
    </div>
    <div class="xs-col-12 col-sm-8 col-md-8 col-lg-8">
        <span>

            <h2>
                <p id="mititulo">Desarrollador Full Stack Jr.</p>
            </h2>
            <h3>Acerca de mí</h3>
            <h4>
                <p>Docente en el nivel primario y secundario, programador en mis ratos libres. Linuxero. Inquieto. Me
                    gustan los desafíos.</p>
            </h4>
        </span>
    </div>
</div>