<div class="row">
    <div class="xs-col-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/mifoto.jpg" alt="foto de perfil" class="img-fluid" id="perfil">
    </div>
    <div class="xs-col-12 col-sm-2 col-md-2 col-lg-2">
        <p id="minombre">Iván Alejandro Werbach</p>
        <p id="mititulo">Desarrollador Full Stack Jr.</p>
    </div>
    <div class="xs-col-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Docente en el nivel primario y secundario, programador en mis ratos libres. Linuxero. Inquieto. Me gustan los desafíos.</p>
        </span>
    </div>
</div>